<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zscat.shop.dao.GoodstypeSpecDao">

	<select id="get" resultType="com.zscat.shop.domain.GoodstypeSpecDO">
		select `type_id`,`spec_id` from wemall_goodstype_spec where type_id = #{value}
	</select>

	<select id="list" resultType="com.zscat.shop.domain.GoodstypeSpecDO">
		select `type_id`,`spec_id` from wemall_goodstype_spec
        <where>  
		  		  <if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
		  		  <if test="specId != null and specId != ''"> and spec_id = #{specId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>

        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from wemall_goodstype_spec
		 <where>  
		  		  <if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
		  		  <if test="specId != null and specId != ''"> and spec_id = #{specId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.zscat.shop.domain.GoodstypeSpecDO">
		insert into wemall_goodstype_spec
		(
			`type_id`, 
			`spec_id`
		)
		values
		(
			#{typeId}, 
			#{specId}
		)
	</insert>
	 
	<update id="update" parameterType="com.zscat.shop.domain.GoodstypeSpecDO">
		update wemall_goodstype_spec 
		<set>
			<if test="specId != null">`spec_id` = #{specId}</if>
		</set>
		where type_id = #{typeId}
	</update>
	
	<delete id="remove">
		delete from wemall_goodstype_spec where type_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from wemall_goodstype_spec where type_id in 
		<foreach item="typeId" collection="array" open="(" separator="," close=")">
			#{typeId}
		</foreach>
	</delete>

</mapper>