<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zscat.shop.dao.StoreclassDao">

	<select id="get" resultType="com.zscat.shop.domain.StoreclassDO">
		select `id`,`addTime`,`deleteStatus`,`className`,`level`,`sequence`,`parent_id`,`description_evaluate`,`service_evaluate`,`ship_evaluate` from wemall_storeclass where id = #{value}
	</select>

	<select id="list" resultType="com.zscat.shop.domain.StoreclassDO">
		select `id`,`addTime`,`deleteStatus`,`className`,`level`,`sequence`,`parent_id`,`description_evaluate`,`service_evaluate`,`ship_evaluate` from wemall_storeclass
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="addtime != null and addtime != ''"> and addTime = #{addtime} </if>
		  		  <if test="deletestatus != null and deletestatus != ''"> and deleteStatus = #{deletestatus} </if>
		  		  <if test="classname != null and classname != ''"> and className = #{classname} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="sequence != null and sequence != ''"> and sequence = #{sequence} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="descriptionEvaluate != null and descriptionEvaluate != ''"> and description_evaluate = #{descriptionEvaluate} </if>
		  		  <if test="serviceEvaluate != null and serviceEvaluate != ''"> and service_evaluate = #{serviceEvaluate} </if>
		  		  <if test="shipEvaluate != null and shipEvaluate != ''"> and ship_evaluate = #{shipEvaluate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>

        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from wemall_storeclass
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="addtime != null and addtime != ''"> and addTime = #{addtime} </if>
		  		  <if test="deletestatus != null and deletestatus != ''"> and deleteStatus = #{deletestatus} </if>
		  		  <if test="classname != null and classname != ''"> and className = #{classname} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="sequence != null and sequence != ''"> and sequence = #{sequence} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="descriptionEvaluate != null and descriptionEvaluate != ''"> and description_evaluate = #{descriptionEvaluate} </if>
		  		  <if test="serviceEvaluate != null and serviceEvaluate != ''"> and service_evaluate = #{serviceEvaluate} </if>
		  		  <if test="shipEvaluate != null and shipEvaluate != ''"> and ship_evaluate = #{shipEvaluate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.zscat.shop.domain.StoreclassDO" useGeneratedKeys="true" keyProperty="id">
		insert into wemall_storeclass
		(
			`addTime`, 
			`deleteStatus`, 
			`className`, 
			`level`, 
			`sequence`, 
			`parent_id`, 
			`description_evaluate`, 
			`service_evaluate`, 
			`ship_evaluate`
		)
		values
		(
			#{addtime}, 
			#{deletestatus}, 
			#{classname}, 
			#{level}, 
			#{sequence}, 
			#{parentId}, 
			#{descriptionEvaluate}, 
			#{serviceEvaluate}, 
			#{shipEvaluate}
		)
	</insert>
	 
	<update id="update" parameterType="com.zscat.shop.domain.StoreclassDO">
		update wemall_storeclass 
		<set>
			<if test="addtime != null">`addTime` = #{addtime}, </if>
			<if test="deletestatus != null">`deleteStatus` = #{deletestatus}, </if>
			<if test="classname != null">`className` = #{classname}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="sequence != null">`sequence` = #{sequence}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="descriptionEvaluate != null">`description_evaluate` = #{descriptionEvaluate}, </if>
			<if test="serviceEvaluate != null">`service_evaluate` = #{serviceEvaluate}, </if>
			<if test="shipEvaluate != null">`ship_evaluate` = #{shipEvaluate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from wemall_storeclass where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from wemall_storeclass where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>