<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">addTime：</label>
								<div class="col-sm-8">
									<input id="addtime" name="addtime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">deleteStatus：</label>
								<div class="col-sm-8">
									<input id="deletestatus" name="deletestatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">add_funciton：</label>
								<div class="col-sm-8">
									<input id="addFunciton" name="addFunciton" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">audit：</label>
								<div class="col-sm-8">
									<input id="audit" name="audit" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">content：</label>
								<div class="col-sm-8">
									<input id="content" name="content" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">goodsCount：</label>
								<div class="col-sm-8">
									<input id="goodscount" name="goodscount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">gradeLevel：</label>
								<div class="col-sm-8">
									<input id="gradelevel" name="gradelevel" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">gradeName：</label>
								<div class="col-sm-8">
									<input id="gradename" name="gradename" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">price：</label>
								<div class="col-sm-8">
									<input id="price" name="price" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">sequence：</label>
								<div class="col-sm-8">
									<input id="sequence" name="sequence" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">spaceSize：</label>
								<div class="col-sm-8">
									<input id="spacesize" name="spacesize" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">sysGrade：</label>
								<div class="col-sm-8">
									<input id="sysgrade" name="sysgrade" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">templates：</label>
								<div class="col-sm-8">
									<input id="templates" name="templates" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">acount_num：</label>
								<div class="col-sm-8">
									<input id="acountNum" name="acountNum" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/shop/storegrade/add.js">
	</script>
</body>
</html>
